<div class="container mt-5 mx-auto">
  <div class="mt-5 border p-5">
    <h2 class="mb-3">Add Todos</h2>
    <div class="d-flex input-group mb-3 w-50">
      <input
        type="text"
        [(ngModel)]="newTodoItem"
        class="form-control p-3"
        placeholder="Write todos..."
      />
      <button (click)="addTodos(newTodoItem)">Add</button>
    </div>
  </div>

  <div class="mt-5 border p-5">
    <h2 class="mb-3">Todos List</h2>
    <ul class="list-group my-5 d-flex justify-content-between">
      <li
        class="list-group-item border my-2 w-50 d-flex justify-content-between"
        *ngFor="let item of todos; index as i"
      >
        {{ item.title }}
        <button (click)="deleteTodo(i)">Delete</button>
      </li>
    </ul>
  </div>
</div>
